
.tool-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
fieldset{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.radio-container{
    display: flex;
    
}