.container {
  width: 1024px;
  max-width: 80%;
  margin: 0 auto; 
}
.header{
  height: 70px;
  width: 100vw;
  background-color:lightseagreen;
  display: flex; 
  justify-content: center;
  align-items: center;
}
.main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 100vw;
  padding: 20px; 
}
.tool-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

section{
    padding: 20px;
}
fieldset{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}
.radio-container{
    display: flex;
    margin-bottom: 3px;
    
}

.radio-container label{
    margin-left: 10px;
    margin-bottom: 0;
}